.service{
    padding-top: 80px;
}

.service-box:hover {
    transform: translateY(-20px);
    background-color: #003654;
  }
  
  .service-box {
    background-color: #343D46;
    -webkit-box-shadow: 6px 4px 12px 3px rgba(0,0,0,0.58);
    -moz-box-shadow: 6px 4px 12px 3px rgba(0,0,0,0.58);
    box-shadow: 6px 4px 12px 3px rgba(0,0,0,0.58);
    transition: transform 0.3s;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    height: 250px;
  }